<div class="container">
  <div class="card text-center">
    <div class="card-header">
      Everything About Me
    </div>
    <div class="card-body">
      <h5 class="card-title">Yahya Zakariya</h5>
      <div class="mx-auto ">
      <img src="/public/img/Foto.jpg" class="img-circle" alt="">
      </div>
    </div>
    <p class="card-text">
      Hello my name is Yahya Zakariya
    </p>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>